@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&family=Praise&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(test.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffc371;
    font-family: 'Montserrat', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 2em;
    padding: 0.6em;
}


img {
    border-radius: 20em;
    margin-top: 5em;
}

.box-1 {
    display: flex;
    justify-content: space-around;
}


a {
    text-decoration: none;
    color: black;
}


li {
    display: inline-block;
    padding: 1em;
    font-size: 1.4em;
    font-family: monospace, sans-serif;
}


h2 {
    margin-top: 0.8em;
    margin-left: 1.1em;
    font-family: 'Lobster', cursive;
    font-size: rem;
}


a:hover {
    color: orange;
}



.hi {
    margin-top: 8em;
    font-size: 2.5em;
    font-family: 'Bree Serif', serif;
    margin-left: 1.1em;
    color: black;
}


.ali {
    font-size: 5.5em;
    font-weight: bold;
    word-spacing: 0.2em;
    letter-spacing: 0.05em;
    font-family: 'Bree Serif', serif;
    margin-left: 0.5em;
    color: black;
}



.web {
    font-size: 3em;
    word-spacing: 0.1em;
    font-family: 'Bree Serif', serif;
    margin-left: 1.01em;
    color: black;
}
